@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="~/css/skin_/table.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.grid.css" />
    <title>答辩组列表</title>
</head>
<div id="container">
    <div id="hd"></div>
    <div id="bd">
        <div id="main">
            <form id="form1" action="Prof_GroupSelect" method="post">
                <div class="search-box ue-clear">
                    <div class="search-button">
                        <input class="button" type="submit" name="all" value="刷新/显示全部" />
                    </div>
                    <div class="search-area">
                        <div class="kv-item ue-clear">
                            <label>查询答辩组</label>
                            <div class="kv-item-content">
                                <input type="text" name="userid" placeholder="请输入答辩组编号" />
                            </div>
                        </div>

                    </div>
                    <div class="search-button">
                        <input class="button" type="submit" name="all" value="搜索" />
                    </div>
                </div>
            </form>
            <div class="table">
                <div class="opt ue-clear">
                    <span class="sortarea">
                        <span class="sort">
                            <label>排序：</label>
                            <span class="name">
                                <i class="icon"></i>
                                <span class="text">名称</span>
                            </span>
                        </span>

                        <i class="list"></i>
                        <i class="card"></i>
                    </span>
                    <span class="optarea">
                        <a href="javascript:;" class="add">
                            <i class="icon"></i>
                            <span class="text" type="submit" href="AddManager">添加</span>
                        </a>
                    </span>
                </div>
                <div class="table">
                    <div class="grid">
                        <div class="ui_tb" valign="top">
                            <table class="table" cellspacing="0" cellpadding="0" width="100%" border="0">

                                <tr>
                                    <th width="30">
                                        <input type="checkbox" id="all" onclick="selectOrClearAllCheckbox(this);" />
                                    </th>
                                    <th>答辩组编号</th>
                                    <th>答辩组负责人编号</th>
                                    <th>答辩时间</th>
                                    <th>答辩地点</th>
                                    <th>编辑信息</th>
                                </tr>
                                @foreach (var G in @ViewBag.g)
                                {
                                <tr>
                                    <td height="40" valign="top"><input type="checkbox" name="IDCheck" value="14458579642011" class="" /></td>
                                    <td height="40" valign="top">@G.GroupID</td>
                                    <td height="40" valign="top">@G.AdminTeaID</td>
                                    <td height="40" valign="top">@G.GroupTime</td>
                                    <td height="40" valign="top">@G.GroupAddress</td>
                                    <td height="40" valign="top">
                                        <a href="Prof_InsertGroup?ID=@G.GroupID" class="edit">编辑</a>
                                    </td>
                                </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="pagination"></div>
                </div>

            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/global.js"></script>
    <script type="text/javascript" src="~/js/jquery.select.js"></script>
    <script type="text/javascript" src="~/js/core.js"></script>
    <script type="text/javascript" src="~/js/jquery.pagination.js"></script>
    <script type="text/javascript" src="~/js/jquery.grid.js"></script>
    <script type="text/javascript" src="~/js/WdatePicker.js"></script>
    <script type="text/javascript">
    $('select').select();
    var head = []
    var tbody = []

    $('.grid').Grid({
        thead: head,
        tbody: null,
        height: 0,
        checkbox: {
            single: true

        },
        operator: {
            type: "normal",
            width: 100

        },
        sortCallBack: function (name, index, type) {
            alert(name + "," + index + ',' + type);
        }

    });

    $('.grid').Grid('addLoading');

    /// 模拟异步
    setTimeout(function () {
        $('.grid').Grid('setData', tbody, head);
    }, 2000)


    $('.pagination').pagination(100, {
        callback: function (page) {
            alert(page);
        },
        display_msg: false

    });

    $('.search-box input[type=radio]').click(function (e) {
        if ($(this).prop('checked')) {
            if ($(this).attr('data-define') === 'define') {
                $('.define-input').show();
            } else {
                $('.define-input').hide();
            }
        }
    });
    </script>
</html>

