@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="~/css/skin_/table.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.grid.css" />
    <title>学生个人成绩</title>
</head>
<div id="container">
    <div id="hd"></div>
    <div id="bd">
        <div id="main"> 
            <div class="table">
                
                <div class="grid">
                    <div class="ui_tb" valign="top">
                        <table class="table" cellspacing="0" cellpadding="0" width="100%" border="0">
                            <tr>
                                <th>学生编号</th>
                                <th>总分数</th>
                                <th>质量追踪得分</th>
                                <th>软件验收得分</th>
                                <th>答辩评分</th>
                            </tr>
                            @foreach (var Grade in @ViewBag.sc)
                            {
                                <tr>
                                    <td height="40" valign="top">@Grade.UserID</td>
                                    <td height="40" valign="top">@Grade.Score</td>
                                    <td height="40" valign="top">@Grade.QualityControlGrade</td>
                                    <td height="40" valign="top">@Grade.SoftwareGrade</td>
                                    <td height="40" valign="top">@Grade.DefenseScore</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="~/js/jquery.js"></script>
<script type="text/javascript" src="~/js/global.js"></script>
<script type="text/javascript" src="~/js/jquery.select.js"></script>
<script type="text/javascript" src="~/js/core.js"></script>
<script type="text/javascript" src="~/js/jquery.pagination.js"></script>
<script type="text/javascript" src="~/js/jquery.grid.js"></script>
<script type="text/javascript" src="~/js/WdatePicker.js"></script>
<script type="text/javascript">
    $('select').select();
    var head = []
    var tbody = []

    $('.grid').Grid({
        thead: head,
        tbody: null,
        height: 0,
        checkbox: {
            single: true

        },
        operator: {
            type: "normal",
            width: 100

        },
        sortCallBack: function (name, index, type) {
            alert(name + "," + index + ',' + type);
        }

    });



    $('.pagination').pagination(100, {
        callback: function (page) {
            alert(page);
        },
        display_msg: false

    });

    $('.search-box input[type=radio]').click(function (e) {
        if ($(this).prop('checked')) {
            if ($(this).attr('data-define') === 'define') {
                $('.define-input').show();
            } else {
                $('.define-input').hide();
            }
        }
    });
</script>
</html>