
@{
    ViewBag.Title = "TeaCheckTopicUpdatePage";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="~/css/skin_/form.css" />
    <link href="~/umeditor/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/global.js"></script>
    <script type="text/javascript" src="~/js/jquery.select.js"></script>
    <script type="text/javascript" src="~/js/WdatePicker.js"></script>
    <script type="text/javascript">
window.UMEDITOR_HOME_URL = 'umeditor/';  // 请换成绝对路径
    </script>
    <script type="text/javascript" src="~/js/umeditor.config.js"></script>
    <script type="text/javascript" src="~/js/editor_api.js"></script>
    <script type="text/javascript" src="~/umeditor/lang/zh-cn/zh-cn.js"></script>
    <title>基础信息</title>
</head>

<body>
    <div id="container">
        <div id="hd">
        </div>
        <div id="bd">
            <div id="main">
                <form id="form1" action="TeaDoTopicUpdate" method="post">
                    <h2 class="subfild">
                        <span>基本信息</span>
                    </h2>
                    <div class="subfild-content base-info">
                        <div class="kv-item ue-clear">
                            <label><span class="impInfo">*</span>毕业设计题目</label>
                            <div class="kv-item-content">
                                <input type="text" placeholder="毕业设计题目,20字符以内" name="topicname" value="@ViewBag.dt.TopicName"/>
                            </div>
                        </div>
                        <input type="hidden" name="topicid" value="@ViewBag.dt.TopicID" />
                        <div class="kv-item ue-clear">
                            <label><span class="impInfo">*</span>毕业设计编号</label>
                            <div class="kv-item-content">
                                <input type="text" placeholder="毕业设计编号,格式为8个字符" name="topicid" disabled value="@ViewBag.dt.TopicID"/>
                            </div>
                        </div>
                        <div class="kv-item ue-clear time">
                            <label><span class="impInfo">*</span>选题开始时间</label>
                            <div class="kv-item-content">
                                <input type="text" placeholder="选题开始时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" name="starttime" value="@ViewBag.dt.StartTime"/>
                                <i class="time-icon"></i>
                            </div>
                        </div>
                        <div class="kv-item ue-clear time">
                            <label><span class="impInfo">*</span>选题结束时间</label>
                            <div class="kv-item-content">
                                <input type="text" placeholder="选题结束时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" name="endtime" value="@ViewBag.dt.EndTime"/>
                                <i class="time-icon"></i>
                            </div>
                        </div>
                        <input type="hidden" value="@Session["UserID"]" name="teacherid" />
                    </div>

                    <h2 class="subfild">
                        <span>详细信息</span>
                    </h2>

                    <div class="subfild-content remarkes-info">
                        <div class="kv-item ue-clear">
                            <label><span class="impInfo">*</span>选题信息</label>
                            <div class="kv-item-content">
                                <textarea placeholder="@ViewBag.dt.TopicInfo" id="content" style="width:800px;height:240px;" name="topicinfo"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="buttons">
                        <input class="button" type="submit" value="确认编辑" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
	$('select').select();
	showRemind('input[type=text],textarea','color5');
	UM.getEditor('content');
</script>
</html>


